:root {
	--card-width: 167px;
	--card-height: 255px;
	/* for shadow effect */
	--blur: 2px;
	--spread: -1px;
	--horiz: 1px;
	--vert: -1px;
}

body {
	background-color: darkgreen;
}

.header {
	height: 8vh;
}

.stacks-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1vw;
}

.stacks-container > div {
	width: var(--card-width);
}

#freecell {
	width: var(--card-width);
	height: var(--card-height);
	margin-bottom: 2vh;
	border: 1px dashed #222;
	border-radius: 12px;
}

.stack {
	border: 1px dashed #222;
	border-radius: 12px;
	padding-bottom: 12vh;
	max-height: 52vh;
}

div[data-card] {
	background-image: url('playing-card-template_391307.png');
	background-repeat: no-repeat;
	/* border: 1px solid #222; */
	margin-left: -1px;
	width: var(--card-width);
	height: var(--card-height);
	border-radius: 12px;
	margin-top: -110%;

	box-shadow: calc(clamp(0px, var(--horiz), 2px)) calc(clamp(0px, var(--vert), 2px)) 2px calc(var(--spread)) rgba(0, 0, 0, 0.233), calc(2 * var(--horiz)) calc(2 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.20), calc(3 * var(--horiz)) calc(3 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.123), calc(5 * var(--horiz)) calc(5 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.076), calc(8 * var(--horiz)) calc(8 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.047), calc(13 * var(--horiz)) calc(13 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.028);
	border: 1px solid rgba(0, 0, 0, 0.068);

}

.stack > div > div[data-card] {
	margin-top: -1px;
}

div.moving { position: absolute; }
div.moving > div[data-card] { margin-top: 0; }

.transit {
	transition: top 0.08s ease-in, left 0.08s;
}

div[data-card="ac"] { background-position: left -35px top -42px; }
div[data-card="kc"] { background-position: left -757px top -1142px; }
div[data-card="qc"] { background-position: left -570px top -1142px;	}
div[data-card="jc"] { background-position: left -383px top -1142px;	}
div[data-card="6c"] { background-position: left -970px top -42px; }
div[data-card="7c"] { background-position: left -1157px top -42px; }
div[data-card="8c"] { background-position: left -1344px top -42px; }
div[data-card="9c"] { background-position: left -1531px top -42px; }
div[data-card="10c"] { background-position: left -1718px top -42px; }

div[data-card="ah"] { background-position: left -35px top -312px; }
div[data-card="kh"] { background-position: left -1369px top -1142px; }
div[data-card="qh"] { background-position: left -1182px top -1142px;	}
div[data-card="jh"] { background-position: left -995px top -1142px;	}
div[data-card="6h"] { background-position: left -970px top -312px; }
div[data-card="7h"] { background-position: left -1157px top -312px; }
div[data-card="8h"] { background-position: left -1344px top -312px; }
div[data-card="9h"] { background-position: left -1531px top -312px; }
div[data-card="10h"] { background-position: left -1718px top -312px; }

div[data-card="as"] { background-position: left -35px top -581px; }
div[data-card="ks"] { background-position: left -757px top -1463px; }
div[data-card="qs"] { background-position: left -570px top -1463px;	}
div[data-card="js"] { background-position: left -383px top -1463px;	}
div[data-card="6s"] { background-position: left -970px top -581px; }
div[data-card="7s"] { background-position: left -1157px top -581px; }
div[data-card="8s"] { background-position: left -1344px top -581px; }
div[data-card="9s"] { background-position: left -1531px top -581px; }
div[data-card="10s"] { background-position: left -1718px top -581px; }

div[data-card="ad"] { background-position: left -35px top -850px; }
div[data-card="kd"] { background-position: left -1369px top -1463px; }
div[data-card="qd"] { background-position: left -1182px top -1463px;	}
div[data-card="jd"] { background-position: left -995px top -1463px;	}
div[data-card="6d"] { background-position: left -970px top -850px; }
div[data-card="7d"] { background-position: left -1157px top -850px; }
div[data-card="8d"] { background-position: left -1344px top -850px; }
div[data-card="9d"] { background-position: left -1531px top -850px; }
div[data-card="10d"] { background-position: left -1718px top -850px; }

div[data-card="x"] { visibility: hidden; }
